{% macro enable_plugin(plugin)                                        %}
LoadPlugin {{ plugin }}
{%   if plugin in collectd_plugin_configs                             %}
{%     set plugin_config = collectd_plugin_configs[plugin]            %}
{%   elif plugin in collectd_plugin_default_configs                   %}
{%     set plugin_config = collectd_plugin_default_configs[plugin]    %}
{%   else                                                             %}
{%     set plugin_config = False                                      %}
{%   endif                                                            %}
{%   if plugin_config                                                 %}
<Plugin {{plugin}}>
{%     if 'options' in plugin_config                                  %}
  # {{ plugin }} -> options
{%       for option in plugin_config['options']                       %}
{%         if option.enabled is not defined or option.enabled         %}
{%           if ((option.value|string|length < 2) or 
                 ((option.value|string)[0]=='"' and
                  (option.value|string)[-1]=='"'))                    %}
  {{ option.name }} {{ option.value }}
{%           else                                                     %}
  {{ option.name }} "{{ option.value }}"
{%           endif                                                    %}
{%         else                                                       %}
  # Option {{ option.name }} is disabled
{%         endif                                                      %}
{%       endfor                                                       %}
{%     endif                                                          %}
{%     if 'raw' in plugin_config                                      %}
  # {{ plugin }} -> raw
  {{ plugin_config.raw|indent(2) }}
{%     endif                                                          %}
</Plugin>
{%   endif                                                            %}
{% endmacro                                                           %}
