# {{ ansible_managed }}
{% from 'collectd_macros.j2' import enable_plugin with context %}
# Config file for collectd(1).

##############################################################################
# Global settings for the daemon.                                            #
##############################################################################

Hostname "{{ ansible_fqdn }}"
#FQDNLookup true
#BaseDir "/var/lib/collectd"
#PluginDir "/usr/lib/collectd"
#TypesDB "/usr/share/collectd/types.db" "/etc/collectd/my_types.db"

#----------------------------------------------------------------------------#
# Interval at which to query values. This may be overwritten on a per-plugin #
# base by using the 'Interval' option of the LoadPlugin block:               #
#   <LoadPlugin foo>                                                         #
#       Interval 60                                                          #
#   </LoadPlugin>                                                            #
#----------------------------------------------------------------------------#
Interval {{ collectd_interval|d(10) }}

#Timeout 2
#ReadThreads 5
#WriteThreads 5

# Limit the size of the write queue. Default is no limit. Setting up a limit
# is recommended for servers handling a high volume of traffic.
#WriteQueueLimitHigh 1000000
#WriteQueueLimitLow   800000

##############################################################################
# Plugins.                                                                   #
##############################################################################

{% for plugin in collectd_all_plugins|sort                            %}
{{ enable_plugin(plugin) }}
{% endfor                                                             %}

{% if collectd_plugin_autodetect is defined and
      collectd_plugin_autodetect|bool                                 %}
# Autodetected plugins
{%   for plugin in collectd_register_detected_services                %}
{{ enable_plugin(plugin) }}
{%   else                                                             %}
# No plugins were autodetected
{%   endfor                                                           %}
{% endif                                                              %}

<Include "/etc/collectd/collectd.conf.d">
	Filter "*.conf"
</Include>
